/* .single-user-data{
    border: 2px solid rgba(255, 0, 0, 0.39);
    background-color: rgba(196, 255, 199, 0.753);
    color: black;
    padding: 20px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.single-user-data:hover{
    transform: rotate(340deg);
} */